<div class = "container" style = "text-align: center;">

  <% if @tasks.empty? %>

    <span class = "text-warning">
      There are no tasks!
    </span>

  <% else %>
    <div>You have <span id="task_count"> <%= pluralize(@tasks.count, 'task') %> </span> </div>
  </br>
    <table class = "table table-hover table-bordered">
      
      <thead>
       <tr>
         <th> Note </th>
         <th> Created at </th>
         <th> Completed </th>
         <th> Action </th>
       </tr>
     </thead>

      <tbody>
        <div class="task-table" id="tasks">
        <% tasks.each do |task| %>
          <tr id="<%= dom_id(task) %>">
            <td> <%= task.note %> </td>
            <td class = "task-info"> <%= time_ago_in_words task.created_at  %> </td>
            <td class = "task-complited"> <%= task.completed %></td>
            <td> <%= link_to edit_task_path(task), remote: true do %>
                   <i class = "icon-edit"> </i>
                 <% end %>
            </td>
            <td> <%= link_to task_path(task), remote: true, data: { confirm: "Are you sure?" }, method: :delete do %>
                 <i class = "icon-remove"> </i>
                 <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>

    </table>
    
 <% end %>   
</div>